<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="head.html"></div>
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <div class="layui-tab-content" style="overflow-y:auto;">
            <div class="x-body">
                <div class="layui-fluid">
                    <div class="layui-card">
                        <div class="layui-card-header">添加/修改</div>
                        <div class="layui-card-body" style="padding: 15px;">
                            <form class="layui-form" method="post"
                                  lay-filter="component-form-group" id="smallTypeAddForm">
                                <input type="hidden" name="id" th:value="${smallType.id}">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">小类名</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="typeName" lay-verify="required" placeholder="小类名"
                                               autocomplete="off" class="layui-input" th:attr="value=${smallType.typeName}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">所属大类</label>
                                    <div class="layui-input-block">
                                        <select name="bigTypeId">
                                            <option disabled selected>--请选择--</option>
                                            <span th:each="bigType:${bigTypeList}">
                                                <option th:value="${bigType.id}" th:text="${bigType.typeName}"></option>
                                            </span>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-layout-admin">
                                    <div class="layui-input-block">
                                        <div class="layui-footer" style="left: 0;">
                                            <button id="smallTypeAdd" class="layui-btn" lay-submit="" lay-filter="component-form-demo1"
                                                    type="button">立即提交
                                            </button>
                                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>